/* src/components/NavBar.module.css */

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:0.95rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    line-height: 19.52px;
  }
  
  .logoContainer {
    flex: 1;
  }
  
  .logo {
    display: flex;
    align-items: center;

  }
  
  .arrow {
    margin-left: 0.32rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  .arrowSmall{
    width:1rem;
    height: 1rem;
  }
  .menu { 
    display: flex;
    gap: 2.89rem;
    align-items: center;
    letter-spacing: -1.1;

  }
 
  
  .talkLink {

  margin-left:0.1rem
  }
  