
.text{
    margin-top: 0.9rem;
    grid-area: h ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41.75rem;
    height: 34.5rem;
    transition: background-color 0.5s linear;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: -9px 10px 60px 0px rgba(255, 255, 255, 0.25) inset;
    -webkit-transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
}
  
     .rotatedText {
      transform: rotate(-20deg);
      margin-top: 1rem;
      margin-left: 0.1rem;
      font-size: 3.5rem;
      color: rgba(241, 241, 241, 1);
      line-height: 3.85rem;
      letter-spacing: -2.5;
      text-align: center;
      -webkit-transform: rotate(-20deg);
      -moz-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
      -o-transform: rotate(-20deg);
}
  