:root {
    --font-size-large: 5rem;
    --font-size-medium: 1.5rem;
    --letter-spacing-normal: -3px;
    --letter-spacing-small: -0.9px;
    --line-height-large: 5.6rem;
    --line-height-medium: 33.6px;
    --grid-gap-small: 1rem;
    --grid-gap-medium: 1.5rem;
}

.feature {
    display: grid;
    height: 48rem;
    margin-top: 7.9rem;
    grid-template-areas: 
        't c'
        'h l';
    row-gap: var(--grid-gap-medium);
    column-gap: var(--grid-gap-small);
}

.feature_title {
    display: grid;
    grid-area: t;
    font-size: var(--font-size-large);
    letter-spacing: var(--letter-spacing-normal);
    line-height: var(--line-height-large);
}

.feature_text_content {
    display: grid;
    grid-area: c;
    font-size: var(--font-size-medium);
    margin: 0 0.9rem 0 0.3rem; /* Объединены margin-применения */
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-small);
    line-height: var(--line-height-medium);
}